<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
        <connectionStrings>
          <add name="FoodDBEntities" connectionString="metadata=res://*/FoodEntites.csdl|res://*/FoodEntites.ssdl|res://*/FoodEntites.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MEIR-PC\SQLEXPRESS;initial catalog=FoodDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        </connectionStrings>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="FoodDBEntities" connectionString="metadata=res://*/FoodEntites.csdl|res://*/FoodEntites.ssdl|res://*/FoodEntites.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:food-srv.database.windows.net,1433;Initial Catalog=FoodsDB;Persist Security Info=False;User ID=meir;Password=Password1!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>

